.skills {
    grid-column: col-start 2 / col-end 7;

    @include respond(tab-port) {
        grid-column: full-start / full-end; 
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


    &-container {
        width: 100%;

        margin: 5rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        column-gap: 2rem; 
        row-gap: 10rem;
        align-content: center;
        justify-items: center;

        @include respond(tab-port) {
            justify-items: left;
        }
    }

}   