.skill-cart {
    position: relative;
    display: inline-block;
    width: 100%; 

    display: flex;
    justify-content: center;

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);   

        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        transition: all .2s ease;

        opacity: 0;
        
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;

        .heading-h4 {
            padding-bottom: .5rem;
            border-bottom: .1rem solid rgba(0, 0, 0, .2);
        }

        .paragraph {
            padding-top: .5rem;
        }
    }

    &:hover .circle {
        transform: translateX(-50%);
    }

    &:hover .skill-cart__text {
        transform: translate(20%, -50%);
        opacity: 1;
    }
}
